/*预定义样式*/
body {
    color: white;
    font-family: 微软雅黑;
}
a{	display: inline-block;
    text-decoration: none;
    border:none;
    color: #fff;
}
a:after{
    display: block;
    content: '';
    height: 2px;
    background: #fff;
    position: relative;
    bottom: -2px;
    left: 0;
    transition: .5s;
    transform: scaleX(0);
}
a:hover:after{
    transform: scaleX(1);
}

.center {
    text-align: center;

    margin: 10% 0;
}

.col-1, .col-2{
    display: inline-block;
    border-radius: 10px;

    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.col-1{
    display: block;
    margin:2% 10%;
    width: 80%;
}

.col-2 {
    float: left;
    height: 200px;
    width: 40%;
}



#lang-panel {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 5px;
    z-index: 100;
    font-size: 0.8em;

}

#lang-panel .lang {
    display: inline-block;
    border-radius: 5px;
    padding: 2px 8px;
    text-decoration: none;
}

#lang-panel .lang.selected {
    background-color: #aee2d9;
    color: #008a75;
    cursor: default
}

h1 {

    text-align: center;
    font-size: 3.5em;
    margin: 0 0 0.5em 0;
    margin-top: 0;
}

/*所有屏幕通用样式*/

/*第一屏样式*/

#avatar {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid rgba(255, 245, 245, 0.4);
    opacity: 0;
    transition: 1s ease;
    position: relative;
    perspective: 500px;
    transform: rotateY(300deg);
    transform: rotateX(300deg);
    top: -900px;

}

.section1.active #avatar {
    transform: rotateY(0deg);
    transform: rotateX(0deg);
    top: 0;
    opacity: 1;
}

/*第二屏样式*/


#tongji {
    position: relative;
    left: -120%;
    transition: 1s ease;
    margin-left: 9%;
    margin-right:1%;
}

#tsinghua {
    position: relative;
    right: -120%;
    transition: 1s ease;
    margin-left: 1%;
    margin-right:9%;
}

.section2.active #tongji {
    left: 0;
}

.section2.active #tsinghua {
    right: 0;
}

/*第三屏样式*/


.section3 .skill-panel {
    margin-bottom: 30px;
    transition: 2s;
    transform: scale(0);
}

.section3.active .skill-panel {
    transform: scale(1);
}

.section3 .skill-panel span {
    padding: 6px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0px 10px;
    font-size: 200%;
}

/*第四屏样式*/



.project {
    height: 60%;

    transition: 1s ease;
}

#java, #web, #python {
    transform: rotateY(-180deg);
}

.section4.active #java, .section4.active #web, .section4.active #python {
    transform: rotateY(0deg);
}

/*第五屏样式*/


.section5 p {

    position: relative;
    opacity: 0;
    top:-200px;
    transition-property:opacity,top;
    transition-duration:1s,1s;
    transition-timing-function: ease,ease;
}

.section5.active p {
    opacity: 1;
    top:0px;
}


