body {
    color: #FFFFFF;
}
.center{
    text-align: center;
    margin: 10%;
    margin-top: auto;
    margin-bottom: auto;
}
.col-2{
    float: left;
    width: 40%;


}

.col-3{
    float: left;
    width: 23.3333%;


}
#avatar {
    width: 200px;
    height: 200px;
    border: 10px solid #aee2d9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#tongji {
    position: relative;
    left: -120%;
}
#tsinghua {
    position: relative;
    right: -120%;
}



.section1 {
    background-color: #BFDA00;
}

.section2 {
    background-color: #2EBE21;
}

.section3 {
    background-color: #2C3E50;
}

.section4 {
    background-color: #FF9900;
}

#lang-panel {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 5px;
    z-index: 100;
    font-size: 0.8em
}

#lang-panel .lang {
    display: inline-block;
    border-radius: 5px;
    padding: 2px 8px
}

#lang-panel .lang.selected {
    background-color: #aee2d9;
    color: #008a75;
    cursor: default
}
h1 {
    text-shadow: 1px 2px #22c3aa,2px 4px #aee2d9;
    text-align: center;
    font-size: 3.5em;
    margin: 0 0 0.5em 0;
    margin-top: 0;
}
.university
{
    background-color: #008a75;
    margin: 5%;
}
.project
{
    background-color: #FF9900;
    margin: 5%;

}

